@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap');

body {
  overflow-x: hidden !important;
  font-family: 'Poppins', sans-serif;
}

.heading {
  font-size: 48px;
  font-weight: bold;
}

/* header section */
header {
  background: #264653;
}
/* featured image section */

.featured-img {
  width: 288px;
  height: 243px;
}
.featured-img img {
  width: 100%;
}

.featured-img-gray {
  filter: grayscale(2);
  -webkit-filter: grayscale(2);
}

/* happy client section */

.client-card {
  width: 322px;
  height: 478px;
  margin: 0;
}

.client-img {
  width: 149px;
  height: 149px;
}

/* faq section */

.faq-img {
  width: 431.2px;
  height: 423.5px;
}

.faq-img img {
  width: 100%;
}

form textarea {
  resize: none;
}

@media screen and (max-width: 576px) {
  .heading {
    font-size: 36px;
  }
  .faq-img {
    width: 274.2px;
    height: 269.3px;
  }
  .faq-img img {
    width: 100%;
  }
}
